
<div class="section spacing-style color-{{ section.settings.color_scheme }}">
  <!-- Section vazia -->
</div>

{% schema %}
{
  "name": "Section Vazia",
  "settings": []
}
{% endschema %}
